<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game State</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/game_actions.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="top">
            <section id="piles">
                <div class="pile" data-pile="pile1">{{ pile_values[0] }}</div>
                <div class="pile" data-pile="pile2">{{ pile_values[1] }}</div>
                <div class="pile" data-pile="pile3">{{ pile_values[2] }}</div>
                <div class="pile" data-pile="pile4">{{ pile_values[3] }}</div>
            </section>
            <div id="deck" class="draw_cards_button">Deck 90</div>
        </div>
        <div class="bottom">
            <section id="hand">
                {% for card in hand %}
                    <div class="card" data-card="{{ card }}">{{ card }}</div>
                {% endfor %}
            </section>
        </div>
    </div>
    <a class="main-menu" href="/">Return to Main Menu</a>
</body>
</html>